/*
*   md2
*
*   This file is subject to the terms and conditions defined in
*   file 'LICENSE', which is part of this source code package.
*
*   https://github.com/anton0kurilov/md2.git
*
*   These third-party apps are used:
*   · Product Sans Font
*   · Roboto Font (Apache License Version 2.0)
*   · Material Icons (Apache License Version 2.0)
*/
/*-- VAR --*/
$md-color-blue: rgba(66, 133, 244, 1);
$md-color-gray: rgba(142, 142, 142, 1);
$md-color-gray2: rgba(97, 97, 97, 1);
$md-color-shadow: rgba(0, 0, 0, .26);
$md-color-hover: rgba(0, 0, 0, .071);
$md-width-main: 1200px;
/*-- FONTS --*/
@import url('https://fonts.googleapis.com/css?family=Product+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*-- ICONS --*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*-- MAIN TAGS --*/
body.md2 {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    color: $md-color-gray2;
    font-family: 'Product Sans', 'Roboto', sans-serif;
}

h1.md2-h,
h2.md2-h,
h3.md2-h,
h4.md2-h,
h5.md2-h {
    font-weight: 600;
    margin: 0 0 .25em 0;
    font-family: 'Product Sans', sans-serif;
}

p.md2-p,
a.md2-a {
    font-family: 'Roboto', sans-serif;
}

hr.md2-hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}

/*-- HEADER --*/
header.md2-header {
    box-shadow: 0 .125rem .3125rem $md-color-shadow;
}

header.md2-header-noshadow {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .12);
}

header.md2-header,
header.md2-header-noshadow {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 90px;
    line-height: 90px;
    white-space: nowrap;
    overflow: hidden;

    a {
        text-decoration: none;
        color: $md-color-gray2;
    }

    h1.md2-title {
        margin: 0;
        font-family: 'Product Sans', sans-serif;
        font-size: 1.8em;
    }

    i.md2-icon-menu,
    i.md2-icon-search {
        padding: 10px;
        margin: 0 20px;
        border-radius: 50%;
        font-size: 1.8em;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: $md-color-hover;
        }
    }

    i.md2-icon-search {
        margin-left: auto;
    }


    .md2-header-body {
        display: flex;
        align-items: center;
    }

    nav.md2-menu {
        margin: 0 20px 0 auto;

        .md2-menu-item {
            text-decoration: none;
            text-transform: uppercase;
            color: $md-color-gray;
            font-weight: 600;
            padding: 37px .75rem 32.5px .75rem;
            margin: 0 .5rem;
            border-bottom: .25rem solid transparent;
            transition: all .3s;

            &:hover {
                color: $md-color-gray2;
                border-color: $md-color-blue;
            }
        }

    }
}

/*-- MAIN --*/
main.md2-main {
    margin: 25px auto;
}

div.md2-main {
    margin: 0 auto;
}

main.md2-main,
div.md2-main {
    width: $md-width-main;
}

/*-- ASIDE --*/
div.md2-asidemain {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

aside.md2-aside {
    width: 100px;

    nav.md2-menu {
        margin: 15px 5px;

        nav.md2-menu div {
            text-align: center;
            overflow: hidden;
            padding: 15px 0;
            border-radius: 3px;
            margin: 0;
            border-bottom: .25rem solid transparent;
            cursor: pointer;

            i.md2-menu-icon {
                display: block;
                font-size: 2em;
            }

            i.md2-menu-item {
                text-decoration: none;
                text-transform: uppercase;
                font-style: normal;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 10px;
            }

            &:hover {
                background-color: $md-color-hover;
            }
        }

        nav.md2-menu div.active {
            background-color: rgba(66, 133, 244, .2);
            color: rgba(66, 133, 244, 1);
        }

        .active {
            color: $md-color-blue;
        }

        a {
            text-decoration: none;
            color: $md-color-gray2;
        }
    }
}

aside#md2-sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: -360px;
    height: 100vh;
    z-index: 9999;
    background: rgba(255, 255, 255, 1);
    transition: all .3s;
    overflow-y: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, .3);

    nav.md2-menu a {
        text-decoration: none;
        color: $md-color-gray2;
    }

    .md2-cover {
        background-image: url('https://goo.gl/hBd5zX');
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;

        .md2-title {
            position: absolute;
            width: calc(100% - 40px);
            margin: 145px 0 0;
            padding: 0 20px;
            font-size: 2em;
            color: rgba(255, 255, 255, 1);
            z-index: 991;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .md2-cover::after {
        content: ' ';
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        z-index: 900;
    }

    nav.md2-menu {
        margin: 10px 0;

        div {
            padding: 10px 20px;
            width: calc(98% - 40px);
            color: rgba(97, 97, 97, 1);
            border-radius: 0 25px 25px 0;
            color: $md-color-gray2;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: all .3s;

            i.md2-menu-icon {
                padding: 0 30px 0 0;
            }

            i.md2-menu-item {
                font-style: initial;
                font-size: 1.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &:hover {
                background-color: $md-color-hover;
            }
        }
    }

    nav.md2-menu-noicon a {
        padding: 10px 20px;
        width: calc(98% - 40px);
        color: rgba(97, 97, 97, 1);
        border-radius: 0 25px 25px 0;
        color: $md-color-gray2;
        text-decoration: none;
        font-size: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .3s;

        &:hover {
            background-color: $md-color-hover;
        }
    }
}

#md2-sidebar.active {
    left: 0;
}

/*-- FOOTER --*/
footer.md2-footer {
    background: rgba(248, 249, 250, 1);
    width: 100%;
    padding: 35px 0;
    overflow: hidden;

    div.md2-main {
        display: flex;
        align-items: center;
    }

    .md2-title {
        margin: 0;
        padding: 0 55px 0 0;
        text-decoration: none;
        color: $md-color-gray2;
    }

    nav.md2-menu {
        width: 100%;
        display: flex;

        a.md2-menu-item {
            color: $md-color-gray2;
            text-decoration: none;
            display: block;
            margin: 0 20px 0 0;
            padding: 10px 15px;
            border-radius: 3px;
            transition: all .3s;

            &:hover {
                background-color: $md-color-hover;
            }
        }
    }

}

/*-- CARDS --*/
.md2-card,
.md2-card-noshadow {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10px 0;
    position: relative;
    z-index: 1;
}

.md2-card {
    box-shadow: 0 1px 5px 0 $md-color-shadow;
}

.md2-card-noshadow {
    border: 2px solid rgba(224, 224, 224, 1);
}

/*-- BUTTONS & INPUTS --*/
.md2-button-blue,
.md2-button-blue-simple,
.md2-button-gray,
.md2-button-gray-simple,
.md2-button-disabled,
.md2-input {
    background-color: transparent;
    outline: none;
    margin: 8px 0;
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Product Sans', sans-serif;
}

.md2-button-blue,
.md2-button-blue-simple,
.md2-button-gray,
.md2-button-gray-simple,
.md2-button-disabled {
    cursor: pointer;
    padding: 7px 18px;
    transition: all .3s;
}

.md2-input {
    cursor: text;
    outline: none;
    width: calc(100% - 20px);
    min-width: 100px;
    min-height: 20px;
    padding: 7px 8px;
}

.md2-input::placeholder {
    color: rgba(142, 142, 142, .8);
}

.md2-button-blue {
    border: 2px solid $md-color-blue;
    color: $md-color-blue;

    &:hover {
        background-color: $md-color-blue;
        color: rgba(255, 255, 255, 1);
    }
}

.md2-button-blue-simple {
    border: 2px solid transparent;
    color: $md-color-blue;

    &:hover {
        background-color: rgba(66, 133, 244, .2);
        color: $md-color-blue;
    }
}

.md2-button-gray,
.md2-input {
    border: 2px solid $md-color-gray;
    color: $md-color-gray;
}

.md2-button-gray:hover {
    background-color: $md-color-gray;
    color: rgba(255, 255, 255, 1);
}

.md2-button-gray-simple {
    border: 2px solid transparent;
    color: $md-color-gray;

    &:hover {
        background-color: rgba(142, 142, 142, .2);
        color: $md-color-gray;
    }
}

.md2-button-disabled {
    color: rgba(224, 224, 224, 1);
    border: 2px solid rgba(224, 224, 224, 1);
    cursor: default;
}

.md2-fab,
.md2-fab-round {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .302), 0 1px 3px 1px rgba(60, 64, 67, .149);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(.4, .0, .2, 1);
    font-weight: 600;
    border: 0;
    background-color: rgba(255, 255, 255, 1);
    color: $md-color-gray2;
    cursor: pointer;
    outline: none;
}

.md2-fab {
    padding: 15px 25px;
    border-radius: 25px;
}

.md2-fab-round {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
}

.md2-fab-round i.md2-icon-add {
    line-height: 60px;
    font-size: 1.8em;
}

.md2-fab:hover,
.md2-fab-round:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .302), 0 4px 8px 3px rgba(60, 64, 67, .149);
}

.md2-fab-fix {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

/*-- POPUP --*/
.md2-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 998;
    display: none;
}

.md2-overlay-popup {
    justify-content: center;
    align-items: center;
}

.md2-popup {
    display: none;
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    padding: 25px;
    max-width: 35%;
    border-radius: 8px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
}

/*-- MOBILE OPTIMIZATIONS --*/
@media screen and (max-width: 1400px) {

    main.md2-main,
    div.md2-main {
        width: 80%;
    }

    main.md2-main {
        margin: 20px auto;
    }
}

@media screen and (max-width: 1000px) {
    main.md2-main {
        margin: 12px auto;
    }

    div.md2-asidemain {
        flex-direction: column-reverse;
    }

    aside.md2-aside {
        width: 100%;
        height: 80px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 .125rem .9125rem $md-color-shadow;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 995;

        nav.md2-menu {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                padding: 12px 30px;
            }
        }
    }

    footer.md2-footer div.md2-main {
        display: block;
    }

    footer.md2-footer .md2-title {
        padding: 0 0 15px 0;
    }

    .md2-fab-fix {
        bottom: 55px;
        right: 15px;
    }
}

@media screen and (max-width: 800px) {
    header.md2-header {
        height: 80px;
        line-height: 80px;

        nav.md2-menu {
            display: none;
        }
    }

    #md2-sidebar {
        width: 280px;
        left: -290px;

        .md2-cover {
            height: 180px;

            .md2-title {
                margin: 125px 0 0;
            }
        }

        .md2-cover::after {
            height: 180px;
        }
    }

    #md2-sidebar.active {
        left: 0;
    }

    main.md2-main,
    div.md2-main {
        width: 90%;
    }

    .md2-popup {
        padding: 15px 20px;
        max-width: calc(95% - 40px);
    }
}

@media screen and (max-width: 330px) {
    main.md2-main {
        margin: 10px auto;
    }

    aside.md2-aside nav.md2-menu div {
        padding: 12px 20px;
    }
}