/*
*   md2 0.0.2
*
*   This file is subject to the terms and conditions defined in
*   file 'LICENSE', which is part of this source code package.
*
*   https://github.com/anton0kurilov/md2.git
*
*   These third-party apps are used:
*   · Product Sans Font
*   · Roboto Font (Apache License Version 2.0)
*   · Material Icons (Apache License Version 2.0)
*/

/*-- FONTS --*/

@import url('https://fonts.googleapis.com/css?family=Product+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*-- ICONS --*/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*-- MAIN TAGS --*/

body.md2 {
	margin: 0;
	padding: 0;
	background-color: white;
	color: #616161;
	font-family: 'Product Sans', 'Roboto', sans-serif;
}

h1.md2-h,
h2.md2-h,
h3.md2-h,
h4.md2-h,
h5.md2-h {
	font-weight: 600;
	margin: 0 0 .25em 0;
	font-family: 'Product Sans', sans-serif;
}

p.md2-p,
a.md2-a {
	font-family: 'Roboto', sans-serif;
}

/*-- HEADER --*/

header.md2-header {
	background-color: white;
	width: 100%;
	height: 90px;
	line-height: 90px;
	-moz-box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .26);
	-webkit-box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .26);
	box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .26);
}

header.md2-header .md2-header-body {
	display: flex;
	align-items: center;
}

header.md2-header a {
	text-decoration: none;
	color: #616161;
}

header.md2-header h1.md2-title {
	margin: 0;
	font-family: 'Product Sans', sans-serif;
	font-size: 1.8em;
}

header.md2-header i.md2-icon-menu,
header.md2-header i.md2-icon-search {
	padding: 10px;
	margin: 0 20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	font-size: 1.8em;
	cursor: pointer;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

header.md2-header i.md2-icon-search {
	margin-left: auto;
}

header.md2-header i.md2-icon-menu:hover,
header.md2-header i.md2-icon-search:hover {
	background-color: rgba(0, 0, 0, .071);
}

header.md2-header nav.md2-menu {
	margin: 0 20px 0 auto;
}

header.md2-header nav.md2-menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #8e8e8e;
	font-weight: 600;
	padding: 37px .75rem 32.5px .75rem;
	margin: 0 .5rem;
	border-bottom: .25rem solid transparent;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

header.md2-header nav.md2-menu a:hover {
	color: #616161;
	border-color: #4285f4;
}

/*-- MAIN --*/

main.md2-main {
	margin: 25px auto;
}

div.md2-main {
	margin: 0 auto;
}

main.md2-main,
div.md2-main {
	width: 1200px;
}

/*-- ASIDE --*/

div.md2-asidemain {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

aside.md2-aside {
	width: 100px;
}

aside.md2-aside nav.md2-menu {
	margin: 15px 0;
}

aside.md2-aside nav.md2-menu div {
	text-align: center;
	overflow: hidden;
	padding: 15px 0;
	margin: 0;
	border-bottom: .25rem solid transparent;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
}

aside.md2-aside nav.md2-menu a {
	text-decoration: none;
	color: #616161;
}

aside.md2-aside nav.md2-menu div:hover {
	color: #4285f4;
}

aside.md2-aside nav.md2-menu div i.md2-menu-icon {
	display: block;
	font-size: 2em;
}

aside.md2-aside nav.md2-menu div i.md2-menu-item {
	text-decoration: none;
	text-transform: uppercase;
	font-style: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 10px;
}

/*-- CARDS --*/

.md2-card,
.md2-card-noshadow {
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 15px 20px;
	margin: 10px 0;
	position: relative;
	z-index: 1;
}

.md2-card {
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26);
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26);
}

.md2-card-noshadow {
	border: 2px solid rgba(0, 0, 0, .26);
}

/*-- BUTTONS & INPUTS --*/

.md2-button-blue,
.md2-button-blue-simple,
.md2-button-gray,
.md2-button-gray-simple,
.md2-input {
	background-color: transparent;
	outline: none;
	margin: 8px 0;
	font-size: 1em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: 600;
	font-family: 'Product Sans', sans-serif;
}

.md2-button-blue,
.md2-button-blue-simple,
.md2-button-gray,
.md2-button-gray-simple {
	cursor: pointer;
	padding: 7px 18px;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.md2-input {
	cursor: text;
	display: block;
	padding: 7px 8px;
}

.md2-input::-webkit-input-placeholder {
	color: rgba(142, 142, 142, .8);
}

.md2-input::-ms-input-placeholder {
	color: rgba(142, 142, 142, .8);
}

.md2-input::-ms-input-placeholder {
	color: rgba(142, 142, 142, .8);
}

.md2-input::placeholder {
	color: rgba(142, 142, 142, .8);
}

.md2-button-blue {
	border: 2px solid #4285f4;
	color: #4285f4;
}

.md2-button-blue-simple {
	border: 2px solid transparent;
	color: #4285f4;
}

.md2-button-blue:hover {
	background-color: #4285f4;
	color: white;
}

.md2-button-blue-simple:hover {
	background-color: rgba(66, 133, 244, .2);
	color: #4285f4;
}

.md2-button-gray,
.md2-input {
	border: 2px solid #8e8e8e;
	color: #8e8e8e;
}

.md2-button-gray-simple {
	border: 2px solid transparent;
	color: #8e8e8e;
}

.md2-button-gray:hover {
	background-color: #8e8e8e;
	color: white;
}

.md2-button-gray-simple:hover {
	background-color: rgba(142, 142, 142, .2);
	color: #8e8e8e;
}

.md2-fab,
.md2-fab-round {
	z-index: 997;
	-moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .302), 0 1px 3px 1px rgba(60, 64, 67, .149);
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .302), 0 1px 3px 1px rgba(60, 64, 67, .149);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .302), 0 1px 3px 1px rgba(60, 64, 67, .149);
	-moz-transition: box-shadow .08s linear, min-width .15s cubic-bezier(.4, .0, .2, 1);
	-ms-transition: box-shadow .08s linear, min-width .15s cubic-bezier(.4, .0, .2, 1);
	-o-transition: box-shadow .08s linear, min-width .15s cubic-bezier(.4, .0, .2, 1);
	-webkit-transition: box-shadow .08s linear, min-width .15s cubic-bezier(.4, .0, .2, 1);
	transition: box-shadow .08s linear, min-width .15s cubic-bezier(.4, .0, .2, 1);
	font-weight: 600;
	background-color: white;
	color: #616161;
	cursor: pointer;
}

.md2-fab {
	padding: 15px 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.md2-fab-round {
	width: 60px;
	height: 60px;
	text-align: center;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.md2-fab-round i.md2-icon-add {
	line-height: 60px;
	font-size: 2em;
}

.md2-fab:hover,
.md2-fab-round:hover {
	-moz-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .302), 0 4px 8px 3px rgba(60, 64, 67, .149);
	-webkit-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .302), 0 4px 8px 3px rgba(60, 64, 67, .149);
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .302), 0 4px 8px 3px rgba(60, 64, 67, .149);
}

.md2-fab-fix {
	position: fixed;
	bottom: 25px;
	right: 25px;
}

/*-- POPUP --*/

.md2-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 998;
	display: flex;
	justify-content: center;
	align-items: center;
}

.md2-popup {
	z-index: 999;
	background-color: white;
	padding: 25px;
	max-width: 25%;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
	-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
}

/*-- MOBILE OPTIMIZATIONS --*/

@media screen and (max-width: 1400px) {
	main.md2-main,
	div.md2-main {
		width: 80%;
	}
	main.md2-main {
		margin: 20px auto;
	}
}

@media screen and (max-width: 800px) {
	header.md2-header nav.md2-menu {
		display: none;
	}
	main.md2-main,
	div.md2-main {
		width: 90%;
	}
	.md2-fab-round {
		padding: 15px;
	}
	.md2-fab-fix {
		bottom: 15px;
		right: 15px;
	}
	.md2-popup {
		padding: 15px;
		max-width: calc(95% - 30px);
	}
}